/* styles.css */
:root {
  --color-principal: #1067da;
  --color-secundario: #2c7ce6;
  --color-fondo: #f4f6f8;
  --color-texto: #333;
  --color-blanco: #ffffff;
  --color-gris-claro: #ccc;
  --color-gris-oscuro: #888;
  --color-borde: #e0e0e0;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.factura-acciones {
  background-color: #1a2bee;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

/* Barra superior */
.barraSuperior {
  background-color: var(--color-principal);
  color: var(--color-blanco);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.barraSuperior h1 {
  font-size: 22px;
  margin: 0;
}

.barraSuperior-derecho {
  display: flex;
  gap: 10px;
}

.btn-icon,
.user-btn {
  background: var(--color-blanco);
  border: none;
  color: var(--color-principal);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-icon:hover,
.user-btn:hover {
  background-color: var(--color-secundario);
  color: var(--color-blanco);
}

/* Container principal */
.container {
  display: flex;
  flex: 1;
  /* Flex para que el contenedor se ajuste dinámicamente */
  height: calc(100vh);
  /* Asegura que ocupe toda la pantalla */
}

/* Barra lateral */
.sidebar {
  height: 100vh;
  width: 260px;
  background-color: #040c5e;
  color: #fff;
  padding: 20px;
}

/* Logo o título superior */
.sidebar .logo {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

/* Navegación lateral */
.nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  color: #bdc3c7;
  text-decoration: none;
  transition: background 0.3s;
  height: 40px;
  margin: 05px 0;
  border-radius: 10px;
}

.nav-item i {
  margin-right: 10px;
  font-size: 18px;
}

.nav-item:hover,
.nav-item.active {
  background-color: #0714a3;
  color: #fff;
  height: 40px;
}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.main-content {
  padding: 2rem;
}

.metricas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.metrica {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: 30%;
}

.metrica h3 {
  margin-bottom: 0.5rem;
}

.contenedor-es {
  width: 100%;
}



.grafico {
  width: 250px !important;
  height: 250px !important;
  display: block;
}

/* Estilo del Panel */
.panel-izquierdo {
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}





.grid-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.producto-card {
  background: var(--color-blanco);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.producto-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 15px;
}

.producto-nombre {
  font-size: 16px;
  margin-bottom: 10px;
  color: var(--color-texto);
}

.producto-precio {
  font-weight: bold;
  color: var(--color-principal);
}

.btn-agregar {
  position: absolute;
  top: 10px;
  right: 10px;
  background: var(--color-principal);
  color: var(--color-blanco);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Panel derecho */
.panel-derecho {
  height: 100vh;
  background: var(--color-blanco);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.panel-derecho h2 {
  margin-top: 0;
}


/* Factura */
.factura-opciones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
}

.factura-opciones select,
.factura-opciones input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid var(--color-gris-claro);
  font-size: 14px;
}

.factura-productos {
  flex: 1;
  border-radius: 5px;
  color: var(--color-gris-oscuro);
  max-height: 400px;
  overflow-y: auto;
  padding: 15px;
  border: 1px dashed var(--color-borde);
  border-radius: 8px;
  margin-top: 25px;
}

.item-factura {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-bottom: 1px solid var(--color-gris-claro);
  flex-direction: row;
}

.factura-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
  border-radius: 5px;
}

.item-factura .info {
  display: flex;
  flex-direction: column;
}

.item-factura .nombre {
  font-weight: bold;
}

.item-factura small {
  color: var(--color-gris-oscuro);
}

.btn-eliminar {
  width: 100px;
  height: 30px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.btn-eliminar:hover {
  background-color: #e60000;
}

.factura-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.btn-vender {
  background-color: var(--color-secundario);
  color: var(--color-blanco);
  padding: 12px 18px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-vender:hover {
  background-color: var(--color-principal);
}

/* Diseño Responsivo */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .barraSuperior {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .grid-productos {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .producto-card {
    padding: 12px;
  }

  .btn-vender {
    font-size: 14px;
    padding: 10px 15px;
  }
}


/* Contenedor general: sidebar + contenido principal */
.container {
  display: flex;
  height: 100vh;
}

/* Estilo de la barra lateral */
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #040c5e;
  color: #fff;
  padding: 20px;
}

/* Logo o título superior */
.sidebar .logo {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

/* Navegación lateral */
.nav {
  display: flex;
  flex-direction: column;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  color: #bdc3c7;
  text-decoration: none;
  transition: background 0.3s;
  height: 40px;
  margin: 05px 0;
  border-radius: 10px;



}

.nav-item i {
  margin-right: 10px;
  font-size: 18px;

}

.nav-item:hover,
.nav-item.active {
  background-color: #0714a3;
  color: #fff;
  height: 40px;



}

/* Contenido principal */
.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  background: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}



.metricas {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.metrica {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  width: 30%;
}

.metrica h3 {
  margin-bottom: 0.5rem;
}

.contenedor-es {
  width: 100%;
}

.grafico-container {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 100%;
}

.grafico {
  width: 250px !important;
  height: 250px !important;
  display: block;
}

/* Encabezado superior */
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 28px;
}

.header-right i {
  font-size: 24px;
  margin-left: 20px;
  cursor: pointer;
  color: #333;
}

/* Tarjetas de estadísticas */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  color: #2980b9;
}

/* Oculta el botón de menú en escritorio */
.menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Elementos de la lista */
li {
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  color: #333;
  transition: background-color 0.2s;
}

/* Efecto al pasar el mouse */
li:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}



.total {
  margin-left: 10px;
}

.input {
  width: 120px;
  margin-top: 20px;
  margin: 10px;

}

.input-error {
  border: 2px solid red !important;

}



@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .sidebar {
    left: -220px;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.active {
    left: 0;
  }


  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }

  .overlay.active {
    display: block;
  }
}

/* Estilo general para la tarjeta de la factura */
.factura-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  display: inline-block;
  vertical-align: top;
  transition: transform 0.3s ease;
  height: 300px;
  overflow-y: auto;
}

.info-factura {
  border-radius: 8px 8px 0px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
  text-align: left;
  padding: 5px;
  background-color: #1a2bee;
}



.factura-header {
  font-weight: bold;
  margin-bottom: 10px;
}


/* Encabezado de la factura */
.factura-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

/* Contenedor de productos dentro de la factura */
.factura-productos {
  overflow-y: auto;
  /* Permite el scroll si es necesario */
  margin-bottom: 10px;
}

/* Estilo para cada producto dentro de la factura */
.producto {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 15px;
}

.producto img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}

.producto div {
  flex: 1;
}

.producto strong {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--color-principal);
}

.producto div {
  font-size: 14px;
  color: #555;
}




/* Contenedor de facturas */
#facturas-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
  /* padding: 20px; */
}

h2 {
  margin-top: 10px;
}

/* style.css login */


/* Contenedor principal dividido en 2 columnas */
.login-container {
  display: flex;
  height: 100vh;
}

/* Lado izquierdo (bienvenida + imagen) */
.login-left {
  flex: 2;
  background-color: #2c3e50;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  background-image: url('../assets/images/Fondo-login.jpg');
  /* Ruta de la imagen de fondo */
  background-repeat: no-repeat;
  /* No repetir la imagen */
  background-size: cover;
  /* Que cubra todo el área */
  background-position: center;
  /* Centrar la imagen */
}

.login-left img {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 200px;
}

.login-left h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-text {
  background-color: rgba(68, 64, 64, 0.39);
  /* Fondo blanco con transparencia */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.login-left p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);


}


/* Lado derecho (formulario de login) */
.login-right {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.login-right h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.options {
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.options a {
  color: #3498db;
  text-decoration: none;
  font-size: 14px;
}

button {
  padding: 12px;
  background-color: #0915b4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #212cd1;
}

.busqueda-productos {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.busqueda-productos input {
  flex: 1;
  padding: 12px;
  border: 1px solid var(--color-gris-claro);
  border-radius: 5px;
  font-size: 14px;
}

.btn-nuevo-venta {
  height: 40px;
  background-color: var(--color-principal);
  color: var(--color-blanco);
  border: none;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-nuevo-venta-user {
  background-color: var(--color-principal);
  color: var(--color-blanco);
  border: none;
  padding: 12px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-nuevo-venta-user:hover {
  background-color: var(--color-secundario);
}

.btn-nuevo-venta:hover {
  background-color: var(--color-secundario);
}

/* ----------------- RESPONSIVE DESIGN ------------------ */

@media (max-width: 768px) {

  /* Cambia a diseño en columna en pantallas pequeñas */
  .login-container {
    flex-direction: column;
  }

  .login-left,
  .login-right {
    flex: 1;
    width: 100%;
    padding: 30px;
  }

  .login-left {
    background-position: center top;
    background-size: cover;
    text-align: center;
  }

  .login-left img {
    width: 150px;
  }

  .login-left h1 {
    font-size: 28px;
  }

  .login-right h2 {
    font-size: 24px;
  }

  input {
    font-size: 16px;
  }

  button {
    font-size: 16px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .login-left h1 {
    font-size: 24px;
  }

  .login-left p {
    font-size: 14px;
  }

  .container-text {
    padding: 10px;
  }

  .login-right {
    padding: 30px 20px;
  }
}

@media (max-width: 768px) {
  .login-left {
    display: none;
    /* Oculta la parte izquierda */
  }

  .login-right {
    flex: 1;
    width: 100vw;
    padding: 40px 20px;
  }

  .login-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* ------------------ RESPONSIVE DESIGN ------------------ */

/* Ajustes generales para pantallas medianas */
@media (max-width: 1024px) {
  .sidebar {
    width: 200px;
    padding: 15px;
  }

  .header h1 {
    font-size: 24px;
  }

  .card p {
    font-size: 20px;
  }
}

/* Pantallas pequeñas: ocultar sidebar y reorganizar */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    display: none;
    /* Oculta la barra lateral */
  }



  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  .cards {
    grid-template-columns: 1fr;
    /* Una sola columna */
  }

  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 18px;
  }
}

/* styles.css */

/* Contenedor principal para el formulario */
.form-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* button {
  padding: 12px;
  width: 100%;
  background-color: #0915b4;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #212cd1;
} */

p {
  text-align: center;
  margin-top: 20px;
}

p a {
  color: #3498db;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}


.header1 {
  color: #000000;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.header1 h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.metrics {
  display: flex;
  gap: 30px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.metric {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  text-align: center;
}

.metric h2 {
  font-size: 18px;
  margin-bottom: 15px;
}

.metric p {
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .metrics {
    flex-direction: column;
    align-items: center;
  }
}




/* Ajustes para pantallas muy pequeñas (móviles) panel admin */
@media (max-width: 480px) {
  .header h1 {
    font-size: 20px;
  }

  .card {
    padding: 15px;
  }

  .card p {
    font-size: 16px;
  }

  .header-right i {
    font-size: 20px;
    margin-left: 10px;
  }
}

/* Estilos responsive para el menú hamburguesa */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    left: -260px;
    top: 0;
    height: 100%;
    background-color: #040c5e;
    transition: left 0.3s ease;
    z-index: 1000;
  }

  .sidebar.sidebar-visible {
    left: 0;
  }

  .menu-toggle {
    display: inline-block;
    color: #333;
  }

  .container {
    flex-direction: column;
  }



  .cards {
    grid-template-columns: 1fr;
  }
}


/* Estilo responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .form-container {
    padding: 20px;
  }
}

/* Estilos responsive */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .product-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .product-card img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }

  .product-info {
    width: 100%;
    padding: 10px 0;
  }

  .btn-vender {
    width: 100%;
    padding: 12px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  .product-card h2 {
    font-size: 1.2rem;
  }
}
